## These parameters will vary depending on your environment:
OPENAI_API_KEY="<your API Key>"
CASSANDRA_SCB="<your secure bundle .zip file>"
CASSANDRA_TOKEN="<your Astra token>"
CASSANDRA_KEYSPACE="<your Astra keyspace>"

## The following parameters are related to review generation. 
# Reviews and text search uses this model
OPENAI_EMBEDDING_MODEL="text-embedding-ada-002"
OPENAI_EMBEDDING_DIMENSIONS="1536"
VECTOR_TYPE="dot_product"

# Where does the map open to? This is the basis around which reviews will be generated
# and also the coordinates the map opens to in "find" mode.
# The example coordinates are Grafton Street, Dublin, Ireland, corresponding to the reviews
# provided in amenity_reviews.csv.gz
MAP_INIT_LATITUDE=53.3416362
MAP_INIT_LONGITUDE=-6.2627662

# The Chat Model is used for generating reviews, but not for search.
# You want a model that is good at generating JSON.
OPENAI_CHAT_MODEL="gpt-3.5-turbo-1106"

# In addition to writing reviews to Astra, the JSON can be written to a file
# which will be in the "reviews" directory.
WRITE_REVIEWS_TO_FILE="false"