<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #map { height: 400px; }
    </style>
</head>
<body>
    <div style="display: flex;">
        <!-- Search Widgets Container -->
        <div style="padding: 20px;">
            <div class="slider-container">
                <label for="radiusSlider">Radius (meters):</label>
                <input type="range" id="radiusSlider" min="100" max="5000" value="500" step="100" oninput="updateRadiusValue(this.value)">
                <span id="radiusValue">400</span>
            </div>
            
            <!-- Slider Labels -->
            <div class="slider-labels">
                <span>100</span> <!-- Minimum Value -->
                <span>5000</span> <!-- Maximum Value -->
            </div>

            <br>
            <div>
                <label for="cuisineSelect">Cuisine:</label>
                <select id="cuisineSelect" onchange="filterCuisine()">
                    <option value="">Select Cuisine</option>
                    <!-- Cuisine options will be populated dynamically -->
                </select>
            </div>

            <br>                       
            <input type="text" id="locationSearch" placeholder="Enter a location">
            <button onclick="searchLocation()">Search</button>
        </div>
        
        <!-- Map Container -->
        <div id="map" style="flex-grow: 1;"></div>
    </div>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
